<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Automatiza, Optimiza, Crece con PepFlow." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>PepFlow | Automatización Inteligente</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  /* Opcional: Para un scroll suave con los enlaces de anclaje */
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
  }
</style>